* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

ul li {
  list-style: none;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgb(111, 136, 153, 0.8);
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  display: none;
}

.overlay button {
  color: white;
  font-size: 50px;
  cursor: pointer;
  background-color: orangered;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}

.page {
  display: flex;
}

.content {
  width: fit-content;
  margin-top: 20px;
  margin-left: 20px;
}

.header {
  width: 100%;
  margin-bottom: 20px;
  font-size: 22px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  border: 2px solid #2993e3;
}

.stopWatch {
  font-family: "Orbitron", sans-serif;
  color: #2993e3;
  font-weight: bold;
  font-size: 50px;
  display: flex;
}

.stopWatch span {
  width: 80px;
  display: block;
}

.stopWatch span.second {
  margin-left: 5px;
}

.stopWatch span.minute {
  margin: 0 5px;
}

.stopWatch span.hour {
  margin-right: 5px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(5, 180px);
  gap: 15px;
}

.flippig-card {
  position: relative;
  width: 180px;
  height: 180px;
  transform-style: preserve-3d;
  transition: 0.5s;
}

.card-face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 5px solid #2993e3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front {
  background-color: #333333;
}

.back {
  background-color: #5e7b8b;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.flip {
  transform: rotateY(180deg);
}

.dashboard {
  background-color: #eee;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 50px;
  padding: 20px;
}

.list {
  font-size: 20px;
  margin-top: 50px;
  width: 300px;
  position: relative;
}

.list .title {
  display: block;
  margin-bottom: 10px;
}

.selector {
  width: 100%;
  height: 40px;
  background-color: #e2e2e2;
  border: 1px solid #777;
  border-radius: 4px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.selector::after {
  content: "\f0d7";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.list ul {
  width: 100%;
  opacity: 0;
  overflow: hidden;
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;
}

.list ul.hide-list {
  opacity: 0;
  z-index: -1;
}

.list ul.show-list {
  opacity: 100%;
  z-index: 100;
}

.list li {
  padding: 20px 10px;
  border-bottom: 1px solid #eee;
  box-shadow: 0px 2px 10px 1px #0000000f;
  background-color: white;
  transition: 0.3s;
}

.list li:hover {
  background-color: #e2e2e2;
}
