* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  height: 100vh;
  overflow: hidden; /* Prevent scrolling */
}

.container {
  width: 80%;
  max-width: 1200px;
  height: calc(100vh - 100px);
  max-height: 1000px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* select:invalid { color: gray; } */

select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}

.difficulty-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.difficulty-menu label {
  font-size: 18px;
}

.difficulty-menu select {
  width: 150px;
  min-height: 30px;
  font-size: 16px;
  display: block;
}

.top-header {
  width: 100%;
  margin: 0 auto 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.restart {
  height: fit-content;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
  border: 1px solid orangered;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {
  display: grid;
  gap: 10px;
  justify-content: center;
  align-content: flex-start;
  width: 100%;
  flex: 1;
}

.flippig-card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  cursor: pointer;
}

.card-face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid orangered;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.front {
  background: #00b09b;
}

.back {
  background-color: #e7e7e7;
  transform: rotateY(180deg);
}

.photo {
  max-width: 80%;
  max-height: 80%;
}

.flip {
  transform: rotateY(180deg);
  pointer-events: none;
}

.matched {
  pointer-events: none;
}
